{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <div class="slogan">
        We care for our customers and curate the best Investment Plans
    </div>
    <div class="categories">
        <div class="category">Car</div>
        <div class="category">Bike</div>
        <div class="category">Travel</div>
        <div class="category">Health</div>
        <div class="category">Business</div>
        <div class="category">Home</div>
    </div>
    <div class="registration-invite">
        <p style="font-weight: bold; color: black;">Click below to register for the investment policy of your choice.</p>
        <a href="/policy_registration" class="register-button">Register Now for Insurance Policies</a>
    </div>
{% endblock %}
