{% extends 'base.html' %}

{% block title %}Support{% endblock %}

{% block content %}
    <div class="support-content">
        <h2>Contact Us</h2>
        <p>HelpDesk Team</p>
        <p>Ph: +91-9999-0000-22</p>
        <p>Email: <a href="mailto:insuranceworkflow@gmail.com">agm@gmail.com</a></p>

        <h2>Have any Feedback? Submit Now Below!</h2>
        <form action="/submit_feedback" method="post">
            <textarea name="feedback" rows="4" cols="50" placeholder="Your feedback..."></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
